h1 {
    background-color: rgba(224, 155, 165, 0.849);
    padding: 8px;
    margin: 20px auto;
    border: 5px solid rgba(211, 68, 90, 0.849);
    height: 60px;
    width: 40%;
    text-align: center;
    font-size: 30px;
    font-style: italic;
  }