$colorFondo: rgba(224, 155, 165, 0.849) ;
$colorBorde: rgba(211, 68, 90, 0.849) ;
@import "_titulos";

*{  
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
}

body{
   background-image:   linear-gradient(45deg, #46c4c4 0%, #b87998 100%);
}
.navbar{
    background-color:$colorBorde;
}
#navbar a{
    color:white;
    text-transform: uppercase;
        &:hover{
        color:black;
        }
}
h2{
    padding: 8px;
    margin:10px auto;    
    width:100%;
    text-align: center;
    font-weight: 600px;
    font-style: italic;
    transition:all 1s;
        &:hover{
        transform:scale(1.5, 1);
        transition: all 1s;
        color:white;
        background-color: rgba(187, 112, 112, 0.589);   
        }    
    }    

.contenedor0{
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 100%; 
    background-image:url(imagenes/multicolor.jpg);
    background-size: cover;
    background-position: center;

}

main section ul li{
    display:inline-block;
    margin-bottom: 20px;
    padding: 10px;
    height: 50px;
    width: 30;
    font-style:italic;
    
    font-size:  30px;
    font-weight: 500
    

}
.jumbotron{
    height: 150px;
    width: 100%;
    background-image: linear-gradient(45deg, #46c4c4 0%, #b87998 100%);
    display: flex; 

}
.container{
    display: flex;
    justify-content: center;
}
.jumbotron h2{
    font-size: 20px;
    font-weight: 500px;
}
.display-4{
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
}
.lead{
    font-weight: 600px;
    text-align: center;
    font-size: 25px;
    font-style: italic;
    

}
.ubicacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px auto;
    
}

.contenedor{
    display:flex;
    justify-content: center;
    
    
}
.tratamiento{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    flex-wrap: wrap;
}    
.centrado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap:wrap;
     
}
.galeria{
    min-height: 400px;
    width: 90%;
    background-color:gray;
    margin:25px auto;
    display:grid;
    
}

.producto{
    border: 3px solid $colorBorde;
    cursor: pointer;
        &:hover{
         transform: scale(1.05);
         transition: all 0.75s ;
        }
}              
@mixin tamaños ($backsize, $backposit) {
    background-size: $backsize;
    background-position: $backposit;
    
}
.producto1{
    background-image: url(imagenes/madre-celulas.png);
@include tamaños (cover, center);
}
.producto2{
    background-image: url(imagenes/gel-keratina.jpg);
@include tamaños (cover, center);
}
.producto3{    
    background-image: url(imagenes/celulas.jpg);
@include tamaños (cover, center);
}
.producto4{    
    background-image: url(imagenes/botox.webp);
@include tamaños (cover, center);
} 
.producto5{   
    background-image: url(imagenes/ampolla-botox.jpg);
@include tamaños (cover, center);
} 
.producto6{   
    background-image: url(imagenes/keratina.jpg);
@include tamaños (cover, center);
}                  
.section2{
    min-height: 600px;
    width: 100%;
    background-color:$colorFondo ;
    display:grid;
    margin-left: 15px;
    margin-right: 25px;
    gap: 25px;
}            
.imag{
    border: 3px solid $colorBorde;
    cursor:pointer;
    gap:20px;
        &:hover{
            transform:scale(1.05);
            transition: all 0.75s;    
        }
}

.imag1{
   background-image: url(imagenes/mechas.jpg);
@include tamaños (cover, center);
}   
.imag2{
   background-image: url(imagenes/mechas-escasas.jpg);
@include tamaños (cover, center);
}
.imag3{
    background-image: url(imagenes/mechas-cortas.jpg);
@include tamaños (cover, center);
}
.imag4{
    background-image: url(./imagenes/colores-varios.webp);
@include tamaños (cover, center);
}

@media only screen and (min-width:0px) and (max-width:320){
    .section2{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    }
    .acomodar{
        display: flex;
        justify-content: center;
    }
    h1{
        flex-wrap: wrap;
        width: 100%;
    }
    p{
        flex-wrap: wrap;
    }
    h2{ 
        width: 100%; 
        flex-wrap: wrap;
    }    
    .galeria{
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 1fr 1fr 1fr;
         gap:3px;
         background-color: $colorFondo ;
    }
    }                    
@media only screen  and (min-width:321px) and (max-width:480px) {
    .section2{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        
        background-color: rgb(115, 192, 192);
    }    
    .galeria{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap:10px;
    }
}                  
@media only screen and (min-width: 481px){
    .section2{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        background-color:$colorFondo ;
    }
    
    .imag1{
        grid-column: 1/2;
        grid-row: 1/3;
    }   
    .imag2{
        grid-column: 2/3;
        grid-row: 1/2;
    }          
    .imag3{
        grid-column: 3/4;
        grid-row: 1/3;
        
    }
    .imag4{
        grid-column: 2/3;
        grid-row: 2/3;
        
    }
}
    .galeria{
       
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr; 
    } 
    .producto1{
        grid-column: 1/2;
        grid-row: 1/2;      
    }
    .producto2{
        grid-column: 2/3;
        grid-row: 1/2;    
    }
    .producto3{
        grid-column: 3/4;
        grid-row: 1/2;
        
    }
    .producto4{
        grid-column: 1/2;
        grid-row: 2/3;
        
    } 
    .producto5{
        grid-column: 2/3;
        grid-row: 2/3;
        
    } 
    .producto6{
        grid-column: 3/4;
        grid-row: 2/3;
       
    }
           

main section h1{
    transition: all 2s;
    
}
main section h1:hover{
    transform: scale( 1.5);
    transition:all 2s ;
    color:white;
    background-color: rgba(187, 112, 112, 0.589);
} 
section p {
    width: 800px;
    height: 50px;
    text-align: center;
    padding-top: 12px;
    font-size: 20px;
    font-style: italic;
    font-weight:600;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
img{
    border: 3px solid $colorBorde;
    padding: 5px 500px;
    
     
}
.centrar_imagen{
    display:flex;
    justify-content: center;
    
} 

video{
    border: 2px solid $colorBorde;
    background-position: cover;
    
}
.video1{
    display:flex;
    justify-content: center;
}    
    


section h3{
    font-style: italic;
    font-size: 2p0x;
    text-align: center;
    height: 40px;
    width: 100%; 
    padding-top: 12px;
    margin-left: 10px;
}


.sectionform{
    width: 75%;
    margin: 20px auto;
    border-radius: 10px;
    background-color:$colorBorde;
}
    
.sectionform .titulo{
    color: black;
    font-size: 35px;
    text-align: center;
    font-style: italic;
}

.form{
    text-align: center;
}
.form label{
    display: flex;
    flex-direction: column;
    width: 30%;
    font-size: 20px;
    font-weight: 600px;
    text-align: left;
    margin-left: 10px;
    padding-top: 10px;
    font-style: italic;
}
.form input{
    width: 60%;
    border:none;
    border-bottom: solid 1px black;
    background-color:$colorFondo ;
    margin-bottom: 10px;
    padding-top: 10px;
    font-size: 15px;
    font-weight: 600px;
    font-style: italic;

}
.form textarea{
    width: 60%;
    border:none;
    border-bottom:solid 1px black ;
    background-color: $colorFondo;
    resize: none;
}

    
   
    



footer{
    height: auto;
    width: 100%;
    background-color: $colorBorde;
    text-align: center;
    padding: 20px;
    p{
        font-size: 25px;
        text-transform: uppercase;
        letter-spacing: 10px;
        font-family: italic;
        margin-bottom: 20px;
    }
}    
footer i{
    font-size: 40px;
    color: white;
    letter-spacing: 18px;
    &:hover{
        color: black;
    }
}
.jumbotron h2{
    font-size: 25px;
    text-transform: uppercase;

} 

