*{
    padding: 0px;
    margin: 0px;
    
}
body{
   background-image:   linear-gradient(45deg, #46c4c4 0%, #b87998 100%);
}
.acomodar{
    display:flex;  
    flex-direction: column;
    justify-content: center;
}
h1{
    background-color:rgba(224, 155, 165, 0.849) ;
    padding: 8px;
    margin: 20px auto;
    border: 5px  solid  rgba(211, 68, 90, 0.849) ;
    height:60px;
    width:40%;
    text-align:center;
    
    font-size: 30px;
    font-style:italic;
}
h2{
    background-color: rgba(224, 155, 165, 0.849) ;
    padding: 8px;
    margin:20px auto;
    border:3px solid  rgba(211, 68, 90, 0.849);
    width:40%;
    text-align: center;
    font-style: italic;
    transition:all 1s;
}    
h2:hover{
    transform:scale(1.5, 1);
    transition: all 1s;
    color:white;
    background-color: rgba(187, 112, 112, 0.589);
}
.contenedor0{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
nav ul li a:hover{
    color:rgba(100, 10, 23, 0.849) ;
    background-color:rgba(211, 68, 90, 0.849) ;
    
}
 header nav ul li{
    display:inline-block;
    background-color:rgba(224, 155, 165, 0.849) ;
    height: 20px;
    width: 100px;
    margin: 5px;
    padding: 10px 20px;
    font-style: italic;
    font-size: 20px;
    border: 2px solid  rgba(211, 68, 90, 0.849);
    text-align: center;
}

    



main section ul li{
    display:inline-block;
    background-color:rgba(224, 155, 165, 0.849) ;
    margin-bottom: 20px;
    padding: 10px;
    height: 30px;
    width: 30;
    border:3px solid rgba(211, 68, 90, 0.849);
    font-style:italic;
    font-size:  20px;
    font-weight: bold;

}
.contenedor{
    display:flex;
    justify-content: center;
}
.tratamiento{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    flex-wrap: wrap;
}    
.centrado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap:wrap;
}
.galeria{
    min-height: 400px;
    width: 90%;
    background-color:gray;
    margin:15px auto;
    display:grid;
    
} 
.producto{
    border: 3px solid rgba(211, 68, 90, 0.849);
    cursor: pointer;
}
.producto:hover{
    transform: scale(1.05);
    transition: all 0.75s ;
}
.producto1{
   
    
    background-image: url(imagenes/madre-celulas.png);
    background-size: cover;
    background-position: center;
}
.producto2{
    
    background-image: url(imagenes/gel-keratina.jpg);
    background-size: cover;
    background-position: center;
}
.producto3{
    
    background-image: url(imagenes/celulas.jpg);
    background-size: cover;
    background-position: center;
}
.producto4{
    
    background-image: url(imagenes/botox.webp);
    background-size: cover;
    background-position: center;
} 
.producto5{
   
    background-image: url(imagenes/ampolla-botox.jpg);
    background-size: cover;
    background-position: center;
} 
.producto6{
    
    background-image: url(imagenes/keratina.jpg);
    background-size: cover;
    background-position: center;
}



    
   
    
   
    
.section2{
    min-height: 600px;
    width: 100%;
    background-color:rgba(224, 155, 165, 0.849) ;
    display:grid;
    margin-left: 15px;
    margin-right: 25px;
    gap: 25px;
    
    
    
}
.imag{
    border: 3px solid rgba(211, 68, 90, 0.849);
    cursor:pointer;
    gap:20px;
}
.imag:hover{
    transform:scale(1.05);
    transition: all 0.75s;
}
.imag1{
   background-image: url(imagenes/mechas.jpg);
   background-size: cover;
   background-position: center;
    background-color: blueviolet;
}
.imag2{
   background-image: url(imagenes/mechas-escasas.jpg);
   background-size: cover;
   background-position: center;
    background-color: blue;
}
.imag3{
    background-image: url(imagenes/mechas-cortas.jpg);
    background-size: cover;
    background-position: center;
    background-color: aqua;
}
.imag4{
    background-image: url(./imagenes/colores-varios.webp);
    background-size: cover;
    background-position: center;
    background-color: coral;
}

@media only screen and (min-width:0px) and (max-width:320){
    .section2{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 150px);
    gap: 20px;
    }
    .acomodar{
        display: flex;
        justify-content: center;
    }
    .comodar0 h1{
        font-size: 10px;
    }    
     .galeria{
         grid-template-columns: 1fr 1fr;
         grid-template-rows: repeat(3, 200px);
         gap:3px;
         background-color: rgba(224, 155, 165, 0.849) ;
     }
}           
        
    
@media only screen  and (min-width:321px) and (max-width:480px) {
    .section2{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: repeat(2, 400px);
        
        background-color: rgb(115, 192, 192);
        
    }
    .galeria{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 200px);
        gap:10px;

    }
}  
        

    
    
   


@media only screen and (min-width: 481px){
    .section2{
       
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 400px);
        background-color:rgba(224, 155, 165, 0.849) ;
    }
    
    .imag1{
        grid-column: 1/2;
        grid-row: 1/3;
       
    }
    .imag2{
        grid-column: 2/3;
        grid-row: 1/2;
        
    }
    .imag3{
        grid-column: 3/4;
        grid-row: 1/3;
        
    }
    .imag4{
        grid-column: 2/3;
        grid-row: 2/3;
        
    }
    .galeria{
       
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr; 
    } 
    .producto1{
        grid-column: 1/2;
        grid-row: 1/2;
        
       
     
    }
    .producto2{
        grid-column: 2/3;
        grid-row: 1/2;
        
    }
    .producto3{
        grid-column: 3/4;
        grid-row: 1/2;
        
    }
    .producto4{
        grid-column: 1/2;
        grid-row: 2/3;
        
    } 
    .producto5{
        grid-column: 2/3;
        grid-row: 2/3;
        
    } 
    .producto6{
        grid-column: 3/4;
        grid-row: 2/3;
       
    }   
}
    
    




.centrar{
    text-align: center;
    font-style: italic;
    font-size: 20px;
    text-decoration:underline;
    background-color:rgba(224, 155, 165, 0.849) ;
    border: 2px  rgba(211, 68, 90, 0.849);
    border-style:solid;
    width: 400px;
    height: 40px;
    margin:20px auto;
    padding: 5px ;
    
   
}
footer div ul li {
    background-color:rgba(224, 155, 165, 0.849) ;
    display:inline-block;
    border: 2px solid rgba(211, 68, 90, 0.849);
    width: 150px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

footer div ul{
    list-style: none;
    margin-left: 10px;
} 
main section h1{
    background-color:rgba(224, 155, 165, 0.849) ;
    border: 2px solid rgba(211, 68, 90, 0.849) ;
    transition: all 2s;
    
}
main section h1:hover{
    transform: scale( 1.5);
    transition:all 2s ;
    color:white;
    background-color: rgba(187, 112, 112, 0.589);
} 
section p {
    background-color: rgba(224, 155, 165, 0.849);
    border: 2px solid rgba(211, 68, 90, 0.849);
    width: 700px;
    height: 50px;
    text-align: center;
    padding-top: 12px;
    font-size: 20px;
    font-style: italic;
    font-weight:600;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
img{
    border: 3px solid rgba(211, 68, 90, 0.849);
    margin: 15px 500px;
     
}
.centrar_imagen{
    display:flex;
    justify-content: center;
} 
footer div h4{
    background-color: rgba(224, 155, 165, 0.849);
    border: 2px solid rgba(211, 68, 90, 0.849); 
    height: 40px;
    width: 300px;
    font-style: italic;
    font-size: 18px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 10px;
    margin-left: 10px;
}
video{
    border: 2px solid rgba(211, 68, 90, 0.849);
    margin-left: 10px;
    margin-bottom: 10px;
    
}
.video1{
    display:flex;
    justify-content: flex-start;
}    
    


section h3{
    background-color: rgba(224, 155, 165, 0.849);
    border: 2px solid rgba(211, 68, 90, 0.849); 
    font-style: italic;
    font-size: 20px;
    text-align: center;
    height: 40px;
    width: 300px; 
    padding-top: 12px;
    margin-left: 10px;
}
div ul li a:hover{
    color:rgba(100, 10, 23, 0.849);
}
form label{
    display: block;
    margin-top: 15px;
    margin-left: 10px;
    background-color: rgba(224, 155, 165, 0.849);
    height: 30px;
    width: 160px;
    padding: 10px 5px;
    text-align: center;
    border: 2px solid rgba(211, 68, 90, 0.849);
} 
input{
    background-color: rgba(216, 184, 188, 0.548);
    border: 1px solid rgba(211, 68, 90, 0.849);
    margin: 10px 10px;
    padding: 10px auto;
    height:40px ;
    transition:all 2s;

}
input:focus{
    color:#b87998;
    border: 5px double white;
    font-size: 30px;
}
input::placeholder{
    color:crimson;

}
textarea{
    border: 1px solid rgba(211, 68, 90, 0.849);
    background-color: rgba(216, 184, 188, 0.548);
    margin-top: 15px;
    margin-left: 10px;
    padding-right: 0px;
    padding-bottom: 20px;
    transition:all 1s;   
}

textarea::placeholder{
    color:crimson;
}
.color:hover{
    background-color: rgba(211, 68, 90, 0.849);
    color:beige;
}

    


    
    
    
    
   
    
    



